.main {
    height: 80vh;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.uni {
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.education {
    display: flex;
    align-items: center;
    justify-content: center;
}

.education span {
    font-weight: 500;
    border-bottom: 2px solid #a3aab1;
    margin: 0 0 0 5px;
}

.job {
    text-align: left;
}

.title {
    background: #fff;
    color: #444f5d;
    width: 120px;
    padding: 3px;
    border-radius: 3px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
}

.list {
    margin: 10px 0 0 15px;
    padding: 0;
    cursor: pointer;
}

.list_item::marker, .about_item::marker {
    font-weight: 500;
    font-size: 15px;
}

.time {
    margin: 0 5px;
    font-weight: 500;
    border: none;
}

.name {
    border-bottom: 1px solid #a3aab1;
}
.about {
    font-size: 0.9em;
    margin: 10px 0 0 15px;
    padding: 0;
}
.about_item{
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .main{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .main{
        font-size: 14px;
    }
    .uni {
        display: none;
    }
}
@media screen and (max-width: 520px) {
    .education{
       flex-direction: column;
    }
}